$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

.main-bg {
  .container, {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    padding-left: 0;
    padding-right: 0;
  }
}

.mob-div {
  list-style: none;
  display: inline-flex;
  float: right;
  position: absolute;
  right: 5px;
  top: 14px;
  li {
    padding: 0 10px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

      
.main-bg, .back-color {
  background-color: #eeeeee;
}

.header-icon {
  padding-top: 10px;
  display: inline-flex;
  li {
    position: relative;
    display: block;
    a {
      position: relative;
      display: block;
      padding: 5px 15px;
      color: #000;
    }
  }
}

.header {
  .navbar-default {
    background-color: #fff;
    border-color: #fff;
  }
  .navbar-brand {
    padding: 15px 6px;
  }
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-nav a {
  color: #000;
}

@media (max-width: 767px) {
  .navbar-toggle {
    float:left;
    margin-left: 12px;
  }
  .div-hg {
    .side-menu {
      display: inline-flex;
      position: relative;
      top: -48px;
      line-height: 0;
      margin-left: -26px;
      font-size: 11px;
    }
  }
}

.affix {
  position: fixed
}

.content-section {
  .panel {
    border: none;
    background-color: #eeee;
    .panel-body {
      background-color: #eee;
      .list-group-item {
        border: none;
        background-color: #eee;
      }
    }
  }
}

.selected-section {
  transform: rotate(-90deg);
  font-size: 40px;
}

.div-hg {
  height: 300px;
}

.selected-section {
  width: 300px;
  top: 115px;
  position: relative;
  text-align: center;
}

.slashed {
  text-decoration: line-through;
}

.price {
  padding: 10px 0;
}

.anemity {
  ul {
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.fet-cont {
  display: inline-flex;
}

.icon-div {
  height: 25px;
  width: 25px;
  float: left;
  padding: 4px;
  background: #eee;
  border-radius: 12px;
  margin-right: 3px;
}

.text-div {
  font-size: 10px;
  line-height: 1.2;
  float: right;
  padding-top: 2px;
  font-weight: 700;

}

#details {
  background-color: white;
  padding: 25px 0;
}

.circlular {
  width: 35px;
  height: 35px;
  border-radius: 64px;
  border: 1px solid black;
  margin-right: 2px;
  position:relative;
  left: 19px;
  top: 19px;
  color: white;
  text-align:center;
}

.colors {
  display: flex;
  margin-left: -16px;
}

.side-menu {
  line-height: 4;
  font-weight: 700;
}

.white {
  background-color: #fff;  
}

.black {
  background-color: black;  
}

.grey {
  background-color: grey;  
}

.color-text {
  font-weight: 700;
  position: relative;
  top: 18px;
  left: 4px;
}

.cart {
  display: inline-flex;
  margin-top: 24px;
  background-color: #eee;
}

.add, .remove, .count, .add-to-cart {
  padding: 12px 20px;
}

.add-to-cart {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}
